.flexContainer {
  display: flex;
}

.flexItem {
  width: 200px;
}

.flexItem:nth-child(4n){
    background-color: black;
}

.flexItem:nth-child(4n+1){
    background-color: blue;
}

.flexItem:nth-child(4n+2){
    background-color: red;
}

.flexItem:nth-child(4n+3){
    background-color: green;
}